body {
  font-family: "Poppins", sans-serif;
  color: #040000;
  background-color: #63f74f;
}



.heading_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.heading_container h2 {
  font-weight: bold;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #010201;
}


.top-nav {
  background-color: #000;
  color: #fff;
  padding: 10px 0;
  text-align: right;
  font-size: 14px;
}

.top-nav .contact-info span {
  margin-left: 20px;
  display: inline-flex;
  align-items: center;
}

.top-nav .contact-info .icon {
  margin-right: 8px;
  width: 16px;
  height: 16px;
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.main-nav .logo img {
  width: 150px;
  height: auto;
}

.main-nav .nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.main-nav .nav-links li a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  font-weight: 500;
  transition: color 0.3s;

}

.main-nav .nav-links li a:hover {
  color: #007BFF;
  cursor: pointer !important;
}

.main-nav .search-icon img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}




.hero_area {
  height: 100vh;
  background-image: url(../images/hero-bg.jpg);
  background-size: cover;
  position: relative;
}

.hero_area::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, transparent, transparent, #63f74f);
}



a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  box-shadow: none;
}







.slider_section {
  height: calc(100% - 80px);
  display: flex;
  justify-content: center;
  align-items: center;
}


.slider_section .row .col-md-10 {  
  display: flex;
}

.slider_section .slider_heading {
  transform: rotate(270.5deg) scaleX(-1);
  position: absolute;
  left: -150px;
  top: -25px;
}

.slider_section .slider_heading h2 {
  display: flex;
  font-size: 10rem;
  text-transform: uppercase;
  text-orientation: upright;
  font-weight: bold;
  color: #ffffff;
}

.slider_section .slider_heading h2 span {
  color: #63f74f;
}

.slider_section .detail-box h1 {
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
}

.slider_section .detail-box hr {
  margin: 0 auto;
  border: none;
  width: 1.5px;
  height: 65px;
  background-color: #ffffff;
}

.slider_section .detail-box .btn-box {
  display: flex;
  justify-content: center;
  margin-top: 35px;
}

.slider_section .detail-box .btn-box .btn-1 {
  display: inline-block;
  padding: 10px 35px;
  background-color: #000000;
  border: 1px solid transparent;
  border-radius: 35px;
  color: #ffffff;
}

.slider_section .detail-box .btn-box .btn-1:hover {
  background-color: #ffffff;
  color: #000000;
}


.slider_section #carousel-indicator {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.slider_section #carousel-indicator .box {
  display: flex;
  justify-content: flex-start;
}


.slider_section .carousel-control-prev,
.slider_section .carousel-control-next {
  position: absolute;
  top: 45%;
  left: initial;
  right: 25px;
  width: 55px;
  height: 55px;
  border: none;
  opacity: 1;
  background-repeat: no-repeat;
  background-size: 8px;
  background-position: center;
  background-color: #63f74f;
  border-radius: 100%;
}

.slider_section .carousel-control-prev:hover,
.slider_section .carousel-control-next:hover {
  background-color: #ffffff;
}

.slider_section .carousel-control-prev {
  background-image: url(../images/prev.png);
  transform: translateY(57%);
}

.slider_section .carousel-control-next {
  background-image: url(../images/next.png);
  transform: translateY(-57%);
}

.slider_section .carousel-control-prev:hover {
  background-image: url(../images/prev-grey.png);
}

.slider_section .carousel-control-next:hover {
  background-image: url(../images/next-grey.png);
}





.about_section {
  margin-top: 100px;
  margin-bottom: 100px;
  color: #ffffff;
}

.about_section .heading_container h2 {
  color: #ffffff;
}

.about_section .about_container {
  padding: 45px;
  background-image: url(../images/about-bg.jpg);
  background-size: cover;
}

.about_section .about_container .detail-box {
  display: flex;
  flex-direction: column;
}

.about_section .about_container .detail-box p {
  margin-top: 25px;
}

.about_section .about_container .detail-box hr {
  margin: 0 auto;
  border: none;
  width: 1.5px;
  height: 125px;
  background-color: #ffffff;
}

.about_section .about_container .detail-box a {
  display: inline-block;
  padding: 8px 35px;
  background-color: #000000;
  border: 1px solid transparent;
  border-radius: 35px;
  color: #ffffff;
  margin: 35px auto 0 auto;
  box-shadow: 0 0 35px 0 rgba(99, 247, 79, 0.7);
}

.about_section .about_container .detail-box a:hover {
  background-color: #ffffff;
  color: #000000;
}




.classes_area {
  color: #ffffff;
  position: relative;
}

.classes_area .row > div {
  position: unset;
}

.classes_area .class_box-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 45px;
  justify-content: center;
}

.classes_area .class_box-container .box {
  position: relative;
}

.classes_area .class_box-container .box .img-box {
  position: relative;
  padding-left: 75px;
  background-color: #000000;
}

.classes_area .class_box-container .box .img-box img {
  width: 100%;
}

.classes_area .class_box-container .box .img-box .detail-box {
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  padding: 55px 0;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
}

.classes_area .class_box-container .box .img-box .detail-box button {
  background-color: #292929;
  border: none;
  height: 55px;
  width: 55px;
  margin: 0 10px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.classes_area .class_box-container .box .img-box .detail-box button img {
  width: 20px;
  margin-left: 5px;
}

.classes_area .class_box-container .box .img-box .detail-box h2 {
  margin: 0;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: bold;
  line-height: 55px;
  margin-left: 15px;
}

.classes_area .class_box-container .box .btn-box {
  display: flex;
  margin-top: 30px;
}

.classes_area .class_box-container .box .btn-box a {
  display: inline-block;
  padding: 10px 45px;
  background-color: #000000;
  border: 1px solid transparent;
  border-radius: 30px;
  color: #ffffff;
}

.classes_area .class_box-container .box .btn-box a:hover {
  background-color: #ffffff;
  color: #000000;
}

.classes_area .owl-carousel {
  position: unset;
}

.classes_area .owl-carousel .owl-nav {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  padding: 0 10px;
  margin-top: 55px;
  position: absolute;
  top: 50%;
  right: 45px;
  transform: translateY(-100%);
}

.classes_area .owl-carousel .owl-nav .owl-prev,
.classes_area .owl-carousel .owl-nav .owl-next {
  background-color: #000000;
  opacity: 1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12px;
  border-radius: 100%;
  outline: none;
  margin: 2px 0;
}

.classes_area .owl-carousel .owl-nav .owl-prev:hover,
.classes_area .owl-carousel .owl-nav .owl-next:hover {
  background-color: #ffffff;
}

.classes_area .owl-carousel .owl-nav .owl-prev {
  width: 75px;
  height: 75px;
  background-image: url(../images/prev.png);
}

.classes_area .owl-carousel .owl-nav .owl-prev:hover {
  background-image: url(../images/prev-grey.png);
}

.classes_area .owl-carousel .owl-nav .owl-next {
  width: 50px;
  height: 50px;
  background-image: url(../images/next.png);
}

.classes_area .owl-carousel .owl-nav .owl-next:hover {
  background-image: url(../images/next-grey.png);
}






.blog_section {
  color: #ffffff;
  overflow-x: hidden;
}

.blog_section .box {
  margin: 45px 0;
  background-color: #252525;
}

.blog_section .box .img-box {
  position: relative;
}

.blog_section .box .img-box img {
  width: 100%;
}

.blog_section .box .detail-box {
  position: relative;
  padding-top: 75px;
  padding-bottom: 35px;
}

.blog_section .box .detail-box .img_date {
  position: absolute;
  left: 0;
  top: 0;
  width: 75px;
  height: 75px;
  border-radius: 100%;
  text-align: center;
  background-color: #63f74f;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-50%);
}

.blog_section .box .detail-box .img_date h6 {
  margin: 0;
}

.blog_section .box .detail-box h3 {
  font-weight: bold;
}

.blog_section .box .detail-box a {
  display: inline-block;
  padding: 8px 25px;
  background-color: #000000;
  border: 1px solid transparent;
  border-radius: 35px;
  color: #ffffff;
  margin-top: 35px;
}

.blog_section .box .detail-box a:hover {
  background-color: #ffffff;
  color: #000000;
}

.blog_section .box.b1 .detail-box {
  padding-right: 35px;
}

.blog_section .box.b2 .detail-box {
  padding-left: 35px;
}

.blog_section .box.b2 .detail-box .img_date {
  left: 35px;
}






.form_section .info_main-row {
  align-items: flex-end;
}

.form_section .contact_section {
  position: relative;
}

.form_section .contact_section h2 {
  font-weight: bold;
}

.form_section .contact_section form {
  margin-top: 45px;
  padding-right: 35px;
  margin-bottom: 45px;
}

.form_section .contact_section input {
  width: 100%;
  border: none;
  height: 50px;
  margin-bottom: 25px;
  padding-left: 25px;
  background-color: #000;
  outline: none;
  color: #ffffff;
  border-radius: 45px;
}

.form_section .contact_section input.message-box {
  height: 135px;
  border-radius: 25px;
}

.form_section .contact_section button {
  border: none;
  display: inline-block;
  padding: 12px 55px;
  background-color: #ffffff;
  border: 1px solid transparent;
  border-radius: 35px;
  color: #000000;
  margin-top: 35px;
}

.form_section .contact_section button:hover {
  background-color: #000000;
  color: #ffffff;
}

.form_section .img-box img {
  width: 100%;
}








.footer_section {
  margin: 25px 0;
}

.footer_section .social_box {
  display: flex;
  align-items: center;
}

.footer_section .social_box a {
  margin-right: 15px;
}

.footer_section .social_box a img {
  max-width: 25px;
  max-height: 25px;
}

.footer_section p {
  margin: 0;
  margin-top: 25px;
  color: #1c1b1b;
}

.footer_section a {
  color: #1c1b1b;
}